{% extends "layouts/runner.html" %}

{% block pageTitle %}
Form submitted – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="/titan-mvp-1.2/form-editor/CSAT/form.html">give your feedback (opens in new tab)</a>.'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set runnerV5ReferenceNumber = data.runnerV5LastSubmittedReferenceNumber or "V5-1A2B-3C4D" %}
    {{ govukPanel({
      titleText: "Form submitted",
      html: "Your reference number<br><strong>" ~ runnerV5ReferenceNumber ~ "</strong>"
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>
    <p class="govuk-body">
      We will review your form and get back to you within 10 working days.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Your saved answers</h2>
    <p class="govuk-body">
      You can reuse your answers if you need to submit this form again within 18 months.
    </p>
    <p class="govuk-body">
      A link to your saved answers is at the bottom of the confirmation email.
    </p>

    <p class="govuk-body">
      <a href="/titan-mvp-1.2/form-editor/CSAT/form.html" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>

    <p class="govuk-body-s govuk-!-margin-top-8">
      <a style="color: gray!important;" href="/titan-mvp-1.2/runner/confirmation-email-v2.html" class="govuk-link">Go to email</a>
    </p>
  </div>
</div>
{% endblock %}

