{% extends "layouts/runner.html" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
Unicorn weight – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukNotificationBanner({
      titleText: "Important",
      text: "These questions are shown because since you last submitted this form, some questions have changed or need to be answered again."
    }) }}

    {% if error and error.unicornWeightError %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: error.unicornWeightError,
            href: "#runner-v5-unicorn-weight-kg"
          }
        ]
      }) }}
    {% endif %}

    <form class="form" action="/runner-v5/new-questions/unicorn-weight" method="post">
      {{ govukInput({
        label: {
          text: "What is the weight of your unicorn?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Enter the weight in kilograms (kg)"
        },
        id: "runner-v5-unicorn-weight-kg",
        name: "runnerV5UnicornWeightKg",
        classes: "govuk-input--width-5",
        inputmode: "numeric",
        value: data.runnerV5UnicornWeightKg,
        errorMessage: {
          text: error.unicornWeightError
        } if error and error.unicornWeightError else null
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Continue" }) }}
        {{ govukButton({
          text: "Save and exit",
          classes: "govuk-button--secondary",
          href: "/save-progress",
          type: "button"
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}

