{% extends "layouts/runner.html" %}

{% block pageTitle %}
Check complete – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Check complete",
      html: "You’ve completed your part of the form."
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>

    <p class="govuk-body govuk-!-margin-top-6">
      We’ve emailed the applicant to let them know they can now submit the form.
    </p>

    <p class="govuk-body" style="margin-top: 40px!important;">
      <a class="govuk-link" style="color: gray!important;" href="/titan-mvp-1.2/runner-v4/approval-notification.html?token={{ token }}">
        Preview the email sent to the applicant (prototype only)
      </a>
    </p>

  </div>
</div>
{% endblock %}

