{% extends "layouts/runner.html" %}

{% block pageTitle %}
You cannot resume your form – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      You cannot resume your form
    </h1>

    <p class="govuk-body">
      The answer to your security question was incorrect 3 times. You have run out of attempts to resume your form.
    </p>

    <p class="govuk-body">
      You will need to start the form again.
    </p>

    {{ govukButton({
      text: "Start form again",
      href: "/runner-v4/start"
    }) }}

  </div>
</div>

{% endblock %}
