{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageName = "Email actions - " + form.name %}
{% set pageBaseUrl = staticPageBase if staticPage else "/titan-mvp-1.2/form-editor/advanced-settings/conditional-mailbox-routing" %}

{% macro submissionFormatRadios(namePrefix, submissionType, submissionVersion, idPrefix) %}
{% set fieldIdPrefix = idPrefix or namePrefix %}
{% set versionFieldName = namePrefix + "Version" %}
{{ govukRadios({
  name: namePrefix + "Type",
  id: fieldIdPrefix + "-type",
  idPrefix: fieldIdPrefix + "Type",
  fieldset: {
    legend: {
      text: "How should submissions be formatted?"
    }
  },
  hint: {
    text: "Choose how submissions are sent to this email address."
  },
  items: [
    {
      value: "human-only",
      text: "Human-readable",
      hint: {
        text: "Easy for people to read and process."
      },
      checked: submissionType == "human-only"
    },
    {
      value: "machine-readable",
      text: "Machine-readable",
      hint: {
        text: "Structured data for automated systems."
      },
      checked: submissionType == "machine-readable" or not submissionType,
      conditional: {
        html: '<div id="' + fieldIdPrefix + '-version-selection">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Which version do you need?</legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="' + fieldIdPrefix + '-version-3" name="' + versionFieldName + '" type="radio" value="3" ' + (submissionVersion == "3" or not submissionVersion and "checked" or "") + '>
                <label class="govuk-label govuk-radios__label" for="' + fieldIdPrefix + '-version-3">v3 (latest)</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="' + fieldIdPrefix + '-version-2" name="' + versionFieldName + '" type="radio" value="2" ' + (submissionVersion == "2" and "checked" or "") + '>
                <label class="govuk-label govuk-radios__label" for="' + fieldIdPrefix + '-version-2">v2</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="' + fieldIdPrefix + '-version-1" name="' + versionFieldName + '" type="radio" value="1" ' + (submissionVersion == "1" and "checked" or "") + '>
                <label class="govuk-label govuk-radios__label" for="' + fieldIdPrefix + '-version-1">v1</label>
              </div>
            </div>
          </fieldset>
        </div>'
      }
    }
  ]
}) }}
{% endmacro %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Form Designer",
serviceName: "",
containerClasses: containerClasses,
accountName: "Chris Smith",
homepageLink: "/",
signOutLink: "/titan-mvp-1.2/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/titan-mvp-1.2/library", text: "Forms library", id: "nav-library" },
{ href: "/titan-mvp-1.2/form-overview/index.html", text: "Overview", id: "nav-overview" },
{ href: "/titan-mvp-1.2/form-editor/listing", text: "Editor", id: "nav-editor", active: true }
],
activeLinkId: "nav-editor"
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
    <div class="govuk-width-container">
        {{ govukBackLink({
        classes: "govuk-back-link--inverse govuk-!-margin-bottom-0",
        text: "Back to advanced settings",
        href: "/titan-mvp-1.2/form-editor/advanced-settings"
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
            style="border-bottom: 1px solid white; margin-bottom: 0" />

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-from-desktop">
                <h1 class="x-govuk-masthead__title">
                    <span class="govuk-caption-l" style="color: white;">{{ form.name }}</span>
                    Email actions
                    <span class="govuk-caption-l" style="color: white;">Additional email addresses receive submissions that match their conditions. If a submission does not match any conditions, we'll send it to the default email address.</span>
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% set storedDefaultMailbox = data.conditionalOutputs.defaultMailbox if data.conditionalOutputs and data.conditionalOutputs.defaultMailbox else {} %}
{% set routingDefaultEmail = storedDefaultMailbox.emailAddress or data.draftSettings.notificationEmail or (data.formDetails.notificationEmail if data.formDetails else '') or data.notificationEmail or 'notify@defra.gov.uk' %}
{% set routingDefaultSubmissionType = storedDefaultMailbox.submissionType or data.draftSettings.submissionType or 'human-only' %}
{% set routingDefaultSubmissionVersion = storedDefaultMailbox.submissionVersion or data.draftSettings.submissionVersion or '3' %}
{% if routingDefaultSubmissionType == 'machine-readable' %}
{% set routingDefaultFormatLabel = 'Machine-readable (v' + routingDefaultSubmissionVersion + ')' %}
{% else %}
{% set routingDefaultFormatLabel = 'Human-readable' %}
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if staticPage %}
        {{ govukInsetText({
        html: '<strong>Static handover page: ' + staticPageTitle + '.</strong> ' + staticPageDescription + ' Forms do not save. <a class="govuk-link" href="' + staticIndexUrl + '">View all static pages</a>.'
        }) }}
        {% endif %}

        {% if errors.form or errors.outputErrors %}
        {% set outputErrorList = [] %}
        {% if errors.form %}
        {% set outputErrorList = outputErrorList.concat([{ text: errors.form, href: "#mailbox-add-section" }]) %}
        {% endif %}
        {% if errors.outputErrors and errors.outputErrors.emailAddress %}
        {% set outputErrorList = outputErrorList.concat([{ text: errors.outputErrors.emailAddress, href: "#mailbox-email-address" }]) %}
        {% endif %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: outputErrorList
        }) }}
        {% endif %}

        {% if saved %}
        {% call govukNotificationBanner({ type: "success" }) %}
          <p class="govuk-notification-banner__heading">
            Your changes have been saved.
          </p>
        {% endcall %}
        {% endif %}

        {% if outputs | length >= maxOutputs %}
        {% call govukNotificationBanner() %}
          <p class="govuk-notification-banner__heading">
            You can only add up to {{ maxOutputs }} additional email addresses.
          </p>
          <p class="govuk-body">Change or remove an email address to add another.</p>

        {% endcall %}
        {% endif %}

        <div class="govuk-summary-card govuk-!-margin-bottom-6">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Default email address</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link" href="/titan-mvp-1.2/form-overview/support/notification-email">Change<span class="govuk-visually-hidden"> default email address on form overview</span></a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Email address</dt>
                        <dd class="govuk-summary-list__value">{{ routingDefaultEmail }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Submission format</dt>
                        <dd class="govuk-summary-list__value">{{ routingDefaultFormatLabel }}</dd>
                    </div>
                </dl>
                {# {% if outputs and outputs | length %}
                {{ govukWarningText({
                  html: 'We’ll only send to this address if the submission is not sent to an additional email address. To also send copies here, <a class="govuk-link" href="#mailbox-add-section">add this address as an additional email address</a>.',
                  iconFallbackText: "Warning",
                  classes: "govuk-!-margin-bottom-0"
                }) }}
                {% else %} #}
                {{ govukWarningText({
                  html: 'This email address receives all submissions until you add another email address. After that, it only receives submissions that do not match any additional email address conditions. To continue receiving all submissions, <a class="govuk-link" href="#mailbox-add-section">add it as an additional email address</a>.',
                  iconFallbackText: "Warning",
                  classes: "govuk-!-margin-bottom-0"
                }) }}
                {# {% endif %} #}
            </div>
        </div>

        {% if outputs and outputs | length %}
        <h2 class="govuk-heading-m">Additional email addresses</h2>
        <div id="outputs-list" class="govuk-!-margin-bottom-6">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-visually-hidden">Additional email addresses</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Email address</th>
                        <th scope="col" class="govuk-table__header">When submissions are sent</th>
                        <th scope="col" class="govuk-table__header">Format</th>
                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for output in outputs %}
                    <tr class="govuk-table__row" data-output-id="{{ output.id }}">
                        <td class="govuk-table__cell">{{ output.emailAddress }}</td>
                        <td class="govuk-table__cell">{{ output.conditionName }}</td>
                        <td class="govuk-table__cell">{{ output.formatLabel }}</td>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                            <a class="govuk-link" href="{% if staticPage %}{{ pageBaseUrl }}/edit-output{% else %}{{ pageBaseUrl }}?edit={{ output.id }}#mailbox-add-section{% endif %}">Change<span class="govuk-visually-hidden"> {{ output.emailAddress }}</span></a>
                            <span aria-hidden="true"> | </span>
                            {% if staticPage %}
                            <span class="govuk-body govuk-!-margin-bottom-0" style="color: #505a5f;">Remove</span>
                            {% else %}
                            <form method="post" action="{{ pageBaseUrl }}" style="display: inline;">
                                <input type="hidden" name="action" value="remove-output">
                                <input type="hidden" name="outputId" value="{{ output.id }}">
                                <button type="submit" class="govuk-link govuk-body govuk-!-margin-bottom-0" style="border: none; background: none; padding: 0; cursor: pointer; text-decoration: underline; color: #1d70b8;">Remove<span class="govuk-visually-hidden"> {{ output.emailAddress }}</span></button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}

        {% endif %}

        <div id="mailbox-add-section">
        {% if editOutput %}
        <h3 class="govuk-heading-m">Change email address</h3>
        <form method="post" action="{% if staticPage %}#{% else %}{{ pageBaseUrl }}{% endif %}">
            <input type="hidden" name="action" value="update-output">
            <input type="hidden" name="outputId" value="{{ addOutputForm.outputId }}">

            {{ govukSelect({
            id: "mailbox-condition",
            name: "conditionId",
            label: {
            text: "When should submissions be sent to this email address?",
            classes: "govuk-label--m"
            },
            hint: {
            text: "Choose a condition, or select Every submission to send all submissions to this email address."
            },
            items: mailboxConditionSelectItems
            }) }}

            {{ govukInput({
            label: {
            text: "What is the email address?",
            classes: "govuk-label--m"
            },
            id: "mailbox-email-address",
            name: "emailAddress",
            type: "email",
            value: addOutputForm.emailAddress,
            errorMessage: {
            text: errors.outputErrors.emailAddress
            } if errors.outputErrors and errors.outputErrors.emailAddress else false,
            attributes: {
            pattern: ".*@.*\\.gov\\.uk$",
            title: "Enter an email address in the correct format, like name@example.com"
            }
            }) }}

            {{ submissionFormatRadios("submission", addOutputForm.submissionType, addOutputForm.submissionVersion, "edit-submission") }}

            <div class="govuk-button-group">
                {{ govukButton({ text: "Save changes", disabled: staticPage }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="{% if staticPage %}{{ pageBaseUrl }}/with-outputs{% else %}{{ pageBaseUrl }}{% endif %}">Cancel</a>
            </div>
        </form>
        {% elif outputs | length < maxOutputs %}
        {# <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> #}

        {# <h2 class="govuk-heading-m">Additional email addresses</h2> #}
        {{ govukDetails({
          summaryText: "How additional email addresses work",
          html: '<p class="govuk-body">Additional email addresses receive submissions that meet their conditions. If a submission matches multiple conditions, we\'ll send it to each matching email address. If it doesn\'t match any conditions, we\'ll send it to the default email address.</p>
          <p class="govuk-body">Create and manage conditions in the <a class="govuk-link" href="/titan-mvp-1.2/form-editor/conditions/manager">conditions manager</a>.</p>'
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-m">Add a new email address (optional)</h2>


        <form method="post" action="{% if staticPage %}#{% else %}{{ pageBaseUrl }}{% endif %}">
            <input type="hidden" name="action" value="add-output">

            {{ govukSelect({
            id: "mailbox-condition",
            name: "conditionId",
            label: {
            text: "When should submissions be sent to this email address?"
            },
            hint: {
            text: "Choose a condition, or every submission to send all submissions to this address."
            },
            items: mailboxConditionSelectItems
            }) }}

            {{ govukInput({
            label: {
            text: "What is the email address?"
            },

            id: "mailbox-email-address",
            name: "emailAddress",
            type: "email",
            classes: "govuk-input--width-20",
            value: addOutputForm.emailAddress,
            errorMessage: {
            text: errors.outputErrors.emailAddress
            } if errors.outputErrors and errors.outputErrors.emailAddress else false,
            attributes: {
            pattern: ".*@.*\\.gov\\.uk$",
            title: "Enter an email address in the correct format, like name@example.com"
            }
            }) }}

            {{ submissionFormatRadios("submission", addOutputForm.submissionType, addOutputForm.submissionVersion, "add-submission") }}

            {{ govukButton({
            text: "Save new email address",
            disabled: staticPage
            }) }}
        </form>
        {% else %}
        {% endif %}
        </div>

    </div>
</div>
{% endblock %}
