{% extends "layouts/runner.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% import "components/one-login-service-header/service-header.njk" as oneLoginHeader %}

{% set baseHref = "/runner-sign-in/forms/" + application.formKey + "/" + application.id %}

{% block pageTitle %}
Declaration – {{ formDef.formName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: baseHref + "/summary" }) }}
{% endblock %}

{% block header %}
  {{ oneLoginHeader.govukOneLoginServiceHeader({
    signOutLink: "/titan-mvp-1.2/roles/sign-out",
    homepageLink: "/runner-sign-in/applications",
    oneLoginLinkText: "you@example.com",
    productName: formDef.formName
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="{{ baseHref }}/declaration" class="form">
      {{ govukRadios({
        idPrefix: "declarationAccepted",
        name: "declarationAccepted",
        fieldset: {
          legend: {
            text: "Declaration",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        hint: { text: "By submitting this application, you confirm the information you’ve provided is correct to the best of your knowledge." },
        items: [
          { value: "yes", text: "I accept the declaration", checked: application.answers.declarationAccepted == "yes" }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Continue" }) }}
        <button class="govuk-button govuk-button--secondary" name="action" value="save" type="submit">
          Save and exit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

