{% extends "layouts/main.html" %}
{% from "components/service-header/macro.njk" import serviceHeader %}
{% from "moj/components/timeline/macro.njk" import mojTimeline %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Form Designer",
serviceName: "",
accountName: "Chris Smith",
showMessages: true,
messagesNotificationCount: "5",
messagesNotificationVisuallyHiddenText: "unread",
homepageLink: "/",
signOutLink: "/titan-mvp-1.2/onboarding/sign-out-confirmation",
navigationItems: [
{
href: "/titan-mvp-1.2/library",
text: "Forms library",
id: "nav-library"
},
{
href: "/titan-mvp-1.2/form-overview/{{ form.id }}",
text: "Overview",
id: "nav-overview",
active: true
},
{
href: "/titan-mvp-1.2/form-editor/listing",
text: "Editor",
id: "nav-editor"
}],
activeLinkId: "nav-overview"
}) }}
{% endblock %}

{% block pageTitle %}
{{ pageName }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back to forms library",
href: "/titan-mvp-1.2/library"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Form name</h1>
        {% block overview_content %}{% endblock %}
    </div>

    <div class="govuk-grid-column-one-third-from-desktop">
        <div style="background-color: #f3f2f1; padding: 15px;">
            <h2 class="govuk-heading-m">Manage form</h2>

            <a href="/titan-mvp-1.2/form-overview/manage-form/migrate-confirmation"
                class="gem-c-button govuk-button gem-c-button--secondary" style="width: 100%; margin-bottom: 15px;">Edit
                draft (new
                editor)</a>

            <a href="/titan-mvp-1.2/form-editor/listing"
                class="gem-c-button govuk-button gem-c-button-publishing--secondary-quiet"
                style="width: 100%; margin-bottom: 15px;">Edit draft</a>

            <a href="/titan-mvp-1.2/form-overview/manage-form/make-draft-live/passed-validation">
                <button type="submit" class="govuk-button" data-module="govuk-button"
                    style="width: 100%; margin-bottom: 15px;">
                    Make draft live
                </button>
            </a>

            <a href="/titan-mvp-1.2/form-overview/manage-form/delete-draft" class="govuk-link">Delete draft</a>
        </div>



    </div>

</div>


{% endblock %}