{% extends "layouts/main.html" %}
{% from "components/service-header/macro.njk" import serviceHeader %}

{% set pageName = "Messages" %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Form Designer",
serviceName: "",
accountName: "Chris Smith",
showMessages: true,
homepageLink: "/",
signOutLink: "/titan-mvp-1.2/onboarding/sign-out-confirmation",
navigationItems: [
{
href: "/titan-mvp-1.2/library",
text: "Forms library",
id: "nav-library"
}]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Messages</h1>
    <p class="govuk-body">Prototype placeholder for the messages inbox.</p>
  </div>
</div>
{% endblock %}
