{% extends "layouts/runner-sign-in-v2.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% import "titan-mvp-1.2/runner-sign-in-v2/_macros.njk" as v2 with context %}

{% block pageTitle %}Recover my sign-in: mobile phone number – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ href: backUrl, text: "Back" }) }}
{% endblock %}

{% block header %}{{ v2.v2ServiceHeader("") }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error and error.runnerSignInV2Mobile %}
      {{ govukErrorSummary({ titleText: "There is a problem", errorList: [{ text: error.runnerSignInV2Mobile, href: "#v2-mobile" }] }) }}
    {% endif %}
    <span class="govuk-caption-l">Recover my sign-in</span>
    <h1 class="govuk-heading-l">Enter the phone number you used to sign in</h1>
    <p class="govuk-body">We will send a 6 digit security code to this number so you can recover your sign-in.</p>

    <form method="post" action="/runner-sign-in-v2/recover/phone" novalidate>
      <input type="hidden" name="formKey" value="{{ formKey }}" />
      <input type="hidden" name="applicationId" value="{{ applicationId }}" />
      <input type="hidden" name="next" value="{{ next | e }}" />
      {{ govukInput({
        label: { text: "Mobile phone number" },
        id: "v2-mobile",
        name: "runnerSignInV2Mobile",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20",
        value: values.runnerSignInV2Mobile,
        errorMessage: { text: error.runnerSignInV2Mobile } if error and error.runnerSignInV2Mobile else false
      }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}
