{% extends "layouts/runner-sign-in-v2.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% import "titan-mvp-1.2/runner-sign-in-v2/_macros.njk" as v2 with context %}

{% block pageTitle %}Resume your form – GOV.UK{% endblock %}

{% block beforeContent %}{% endblock %}

{% block header %}{{ v2.v2ServiceHeader("") }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Save and exit</span>
    <h1 class="govuk-heading-l">Welcome back</h1>
    <p class="govuk-body">You used the link in your save and exit email. Sign in with your new account to continue.</p>
    {{ govukButton({ text: "Sign in to continue", href: signInUrl, isStartButton: true }) }}
  </div>
</div>
{% endblock %}
