{% extends "layouts/runner.html" %}

{% block pageTitle %}
  Enter address manually - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: data.returnUrl or "/address-lookup-postcode?returnUrl=/do-you-want-your-unicorn-breeder-certificate-sent-to-this-address"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: error.addressLineError,
              href: "#address-line-1"
            } if error.addressLineError else "",
            {
              text: error.townOrCityError,
              href: "#town-city"
            } if error.townOrCityError else "",
            {
              text: error.postcodeError,
              href: "#address-postcode"
            } if error.postcodeError else ""
          ]
        }) }}
      {% endif %}

      <form method="post" autocomplete="off">
        <h1 class="govuk-heading-l">Where should we send your certificate?</h1>

        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          id: "address-line-1",
          name: "addressLine1",
          errorMessage: { text: error.addressLineError } if error.addressLineError else "",
          value: data['addressLine1'],
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          id: "address-line-2",
          name: "addressLine2",
          value: data['addressLine2'],
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-!-width-two-thirds",
          id: "town-city",
          name: "townCity",
          errorMessage: { text: error.townOrCityError } if error.townOrCityError else "",
          value: data['townCity'],
          autocomplete: "address-level2"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "address-postcode",
          name: "addressPostcode",
          errorMessage: { text: error.postcodeError } if error.postcodeError else "",
          value: data['addressPostcode'],
          autocomplete: "postal-code"
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Use this address",
            name: "action",
            value: "use-manual-address",
            classes: "govuk-!-margin-right-1"
          }) }}
          {% if data.returnUrl and data.returnUrl.indexOf('runner-v2') === -1 %}
          <p class="govuk-body govuk-!-margin-bottom-0">or <a href="/address-lookup-postcode?returnUrl={{ data.returnUrl or '/do-you-want-your-unicorn-breeder-certificate-sent-to-this-address' }}" class="govuk-link">find an address instead</a></p>
          {% endif %}
        </div>



        <input type="hidden" name="returnUrl" value="{{ data.returnUrl }}">
        <input type="hidden" name="selectedAddress" value="{{ data.selectedAddress }}">
      </form>
    </div>
  </div>

{% endblock %}
