{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

<h1 class="govuk-heading-l">Get security code</h1>

{{ govukInsetText({
  html: "We will send a security code to: <strong>" + (email | e) + "</strong>"
}) }}

<p class="govuk-body">You can request 5 security codes. If you request more than 5, you will be locked out for 2 hours.</p>

<p class="govuk-body">Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>

<form method="post" action="{{ formAction }}" novalidate>
  <input type="hidden" name="formKey" value="{{ formKey }}" />
  <input type="hidden" name="applicationId" value="{{ applicationId }}" />
  <input type="hidden" name="next" value="{{ next | e }}" />
  {{ govukButton({ text: "Get security code" }) }}
</form>
