{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

<h1 class="govuk-heading-l">Get security code</h1>

{{ govukInsetText({
  html: "We will send a security code to your mobile phone number ending with <strong>" + (maskedMobile | e) + "</strong>"
}) }}

<p class="govuk-body">You can request 5 security codes. If you request more than 5, you will be locked out for 2 hours.</p>

<p class="govuk-body">It might take a few minutes to arrive.</p>

<p class="govuk-body">
  <a class="govuk-link" href="/runner-sign-in-v2-baseline/texts/change-email-security-code">View the text message (prototype only)</a>
</p>

<form method="post" action="{{ formAction }}" novalidate>
  <input type="hidden" name="formKey" value="{{ formKey }}" />
  <input type="hidden" name="applicationId" value="{{ applicationId }}" />
  {{ govukButton({ text: "Get security code" }) }}
</form>
