{% extends "layouts/main.html" %}
{% from "components/service-header/macro.njk" import serviceHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Form Designer",
serviceName: "",
accountName: "Chris Smith",
homepageLink: "/",
signOutLink: "/titan-mvp-1.2/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/titan-mvp-1.2/library", text: "Forms library", id: "nav-library" },
{ href: "/titan-mvp-1.2/form-overview/poc.html", text: "Overview", id: "nav-overview" },
{ href: "/titan-mvp-1.2/form-overview/submissions/improved-2-table", text: "Responses", id: "nav-submissions" },
{ href: "/titan-mvp-1.2/form-editor/listing", text: "Editor", id: "nav-editor" }
],
activeLinkId: "nav-submissions"
}) }}
{% endblock %}

{% block pageTitle %}
{{ pageName }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: backHref
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check your answers</h1>

    {{ govukSummaryList({ rows: summaryRows }) }}

    <form method="post">
      {{ govukButton({
        text: "Confirm"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
