{% extends "layouts/runner.html" %}

{% block pageTitle %}
Summary – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="/titan-mvp-1.2/form-editor/CSAT/form.html">give your feedback (opens in new tab)</a>.'
}) }}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set reuseBannerHtml %}
      <p class="govuk-body">Here is a copy of the answers you submitted last time. Make any changes and submit the form. This is a new form and does not replace your previous submission.</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: reuseBannerHtml,
      type: "default"
    }) }}

    <h1 class="govuk-heading-l">
      Check your answers before sending your form
    </h1>


    <h2 class="govuk-heading-m">Declaration</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Terms and conditions
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['declaration'] and data['declaration'].includes('confirmed') %}
            I confirm that I understand and agree
          {% else %}
            Not provided
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/runner-v2/declaration">
            Change<span class="govuk-visually-hidden"> declaration</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Contact details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['name'] or 'Not provided' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/runner-v2/whats-your-name">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['email'] or 'Not provided' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/runner-v2/whats-your-email-address">
            Change<span class="govuk-visually-hidden"> email address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['phoneNumber'] or 'Not provided' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/runner-v2/whats-your-phone-number">
            Change<span class="govuk-visually-hidden"> phone number</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['selectedAddress'] or data['finalAddress'] or 'Not provided' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/runner-v2/whats-your-address">
            Change<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Previous licence holder
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="" class="govuk-link">Answer this question</a>
        </dd>
      </div>
    </dl>



    <h2 class="govuk-heading-m">Unicorn details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of unicorns expected
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['aitzzV'] or 'Not provided' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/runner-v2/how-many-unicorns-do-you-expect-to-breed-each-year">
            Change<span class="govuk-visually-hidden"> number of unicorns expected</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of unicorns
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['DyfjJC'] %}
            {% for type in data['DyfjJC'] %}
              {{ type }}{% if not loop.last %}, {% endif %}
            {% endfor %}
          {% else %}
            Not provided
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/runner-v2/what-type-of-unicorns-will-you-breed">
            Change<span class="govuk-visually-hidden"> type of unicorns</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Where you keep the unicorns
        </dt>
        <dd class="govuk-summary-list__value">
          Easting: {{ data['location-easting'] or 'Not provided' }}, Northing: {{ data['location-northing'] or 'Not provided' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/runner-v2/where-will-you-keep-the-unicorns">
            Change<span class="govuk-visually-hidden"> where you keep the unicorns</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of staff
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['zhJMaM'] or 'Not provided' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/runner-v2/how-many-members-of-staff-will-look-after-the-unicorns">
            Change<span class="govuk-visually-hidden"> number of staff</span>
          </a>
        </dd>
      </div>
    </dl>


    <form class="form" action="/runner-v2/reuse-summary" method="post">

        {{ govukInput({
        label: {
        text: "Confirmation email (optional)",
        classes: "govuk-label--m"
        },
        hint: {
        text: "Enter your email address to get an email confirming your form has been submitted"
        },
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false
        }) }}

          <div class="govuk-button-group">


            {{ govukButton({
            text: "Send",
            classes: "govuk-button--primary govuk-!-margin-top-4 govuk-!-margin-bottom-0",
            type: "submit"
            }) }}



        {{ govukButton({
          text: "Save and exit",
          classes: "govuk-button--secondary",
          href: "/save-progress",
          type: "button"
          }) }}

          </div>

    </form>

  </div>
</div>

{% endblock %}
