{% extends "layouts/runner-sign-in-v2.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% import "titan-mvp-1.2/runner-sign-in-v2/_macros.njk" as v2 with context %}

{% block pageTitle %}You’ve created your sign in – GOV.UK{% endblock %}

{% block beforeContent %}{% endblock %}

{% block header %}{{ v2.v2ServiceHeader("forms", { showServiceNav: false }) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You can now start your form</h1>
    {# {{ govukPanel({
      titleText: "You can now start your form"
    }) }} #}

    <p class="govuk-body">You’ve set up your sign-in details.</p>

    <p class="govuk-body govuk-!-margin-bottom-6">We've sent a confirmation email to: you@example.com</p>

    {{ govukButton({
      text: "Continue to your form",
      href: continueUrl
    }) }}
  </div>
</div>
{% endblock %}

