{% extends "layouts/runner.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% import "components/one-login-service-header/service-header.njk" as oneLoginHeader %}

{% set baseHref = "/runner-sign-in/forms/" + application.formKey + "/" + application.id %}

{% block pageTitle %}
Contact details – {{ formDef.formName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: baseHref + "/name" }) }}
{% endblock %}

{% block header %}
  {{ oneLoginHeader.govukOneLoginServiceHeader({
    signOutLink: "/titan-mvp-1.2/roles/sign-out",
    homepageLink: "/runner-sign-in/applications",
    oneLoginLinkText: "you@example.com",
    productName: formDef.formName
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="{{ baseHref }}/contact" class="form">
      <h1 class="govuk-heading-xl">Contact details</h1>

      {{ govukInput({
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        label: { text: "Email address", classes: "govuk-label--m" },
        value: application.answers.email
      }) }}

      {{ govukInput({
        id: "phone",
        name: "phone",
        type: "tel",
        autocomplete: "tel",
        label: { text: "Mobile phone number (optional)", classes: "govuk-label--m" },
        value: application.answers.phone
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Continue" }) }}
        <button class="govuk-button govuk-button--secondary" name="action" value="save" type="submit">
          Save and exit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

