{% extends "layouts/runner-sign-in-v2-baseline.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% import "titan-mvp-1.2/runner-sign-in-v2-baseline/_macros.njk" as v2 with context %}

{% block pageTitle %}Get security code – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ href: backUrl, text: "Back" }) }}
{% endblock %}

{% block header %}{{ v2.v2ServiceHeader("") }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "titan-mvp-1.2/runner-sign-in-v2-baseline/_get-security-code-email.html" %}
  </div>
</div>
{% endblock %}
