{% extends "layouts/runner.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% import "components/one-login-service-header/service-header.njk" as oneLoginHeader %}

{% set baseHref = "/runner-sign-in/forms/" + application.formKey + "/" + application.id %}

{% block pageTitle %}
When did it happen? – {{ formDef.formName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: baseHref + "/location" }) }}
{% endblock %}

{% block header %}
  {{ oneLoginHeader.govukOneLoginServiceHeader({
    signOutLink: "/titan-mvp-1.2/roles/sign-out",
    homepageLink: "/runner-sign-in/applications",
    oneLoginLinkText: "you@example.com",
    productName: formDef.formName
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="{{ baseHref }}/when" class="form">
      {{ govukRadios({
        idPrefix: "whenHappened",
        name: "whenHappened",
        fieldset: {
          legend: {
            text: "When did it happen?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        items: [
          { value: "Today", text: "Today", checked: application.answers.whenHappened == "Today" },
          { value: "Yesterday", text: "Yesterday", checked: application.answers.whenHappened == "Yesterday" },
          { value: "In the last week", text: "In the last week", checked: application.answers.whenHappened == "In the last week" },
          { value: "More than a week ago", text: "More than a week ago", checked: application.answers.whenHappened == "More than a week ago" }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Continue" }) }}
        <button class="govuk-button govuk-button--secondary" name="action" value="save" type="submit">
          Save and exit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

