{% extends "layouts/runner-sign-in-v2.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% import "titan-mvp-1.2/runner-sign-in-v2/_macros.njk" as v2 with context %}

{% block pageTitle %}
Start user research session – Runner sign-in v2 – GOV.UK
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block header %}
  {{ v2.v2ServiceHeader("start") }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Start user research session</h1>
    {# <p class="govuk-body">
      Starts the journey where someone returns to a submitted form and edits it.
      After signing in, they land on Manage your form.
    </p> #}

    <form method="post" action="/runner-sign-in-v2/user-research" novalidate>
      {{ govukButton({
        text: "Start user research session"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
