{% extends "layouts/runner-sign-in-v2-baseline.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% import "titan-mvp-1.2/runner-sign-in-v2-baseline/_macros.njk" as v2 with context %}

{% block pageTitle %}Change email address: check your email – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ href: newEmailUrl, text: "Back" }) }}
{% endblock %}

{% block header %}{{ v2.v2ServiceHeader("security") }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error and error.runnerSignInV2BaselineCode %}
      {{ govukErrorSummary({ titleText: "There is a problem", errorList: [{ text: error.runnerSignInV2BaselineCode, href: "#v2-code" }] }) }}
    {% endif %}
    {% if resend %}
      {{ govukNotificationBanner({ type: "success", html: "<p class=\"govuk-notification-banner__heading\">We’ve sent you a new security code.</p>" }) }}
    {% endif %}
    <span class="govuk-caption-l">Change email address</span>
    <h1 class="govuk-heading-l">Check your email</h1>
    {{ govukInsetText({ html: "We have sent an email to: <strong>" + (email | e) + "</strong>" }) }}
    <p class="govuk-body">It might take a few minutes to arrive. The security code will expire after 15 minutes.</p>

    <form method="post" action="{{ formAction }}" autocomplete="off" novalidate>
      <input type="hidden" name="formKey" value="{{ formKey }}" />
      <input type="hidden" name="applicationId" value="{{ applicationId }}" />
      {{ v2.v2SecurityCodeInput({
        errorMessage: { text: error.runnerSignInV2BaselineCode } if error and error.runnerSignInV2BaselineCode else false,
        value: values.runnerSignInV2BaselineCode
      }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

    {% set problemsHtml %}
      <p class="govuk-body">
        We can
        <a class="govuk-link" href="{{ resendUrl }}">send the security code again</a>
        or you can
        <a class="govuk-link" href="{{ newEmailUrl }}">use a different email address</a>.
      </p>
    {% endset %}

    {{ govukDetails({
      summaryText: "Problems with the security code?",
      html: problemsHtml
    }) }}
  </div>
</div>
{% endblock %}
