<style>
  .email-message {
    border: 1px solid #b1b4b6;
    padding: 20px;
    background: #ffffff;
  }

  .email-message-meta {
    width: 100%;
    border-collapse: collapse;
  }

  .email-message-meta th,
  .email-message-meta td {
    padding: 8px 0;
    border-bottom: 1px solid #b1b4b6;
    vertical-align: top;
    text-align: left;
  }

  .email-message-meta th {
    width: 90px;
    font-weight: 700;
  }

  .placeholder-no-brackets {
    display: inline-block;
    padding: 0 4px;
  }

  .email-message-body .govuk-header {
    margin: 0 -20px 20px;
    border-bottom: 10px solid #ffffff;
  }
</style>
