{% extends "layouts/main.html" %}
{% from "components/service-header/macro.njk" import serviceHeader %}

{% block header %}
{{ serviceHeader({
  organisationName: "Defra",
  productName: "Form Designer",
  serviceName: "Apply for an individual licence to release gamebirds on or near a European Site",
  accountName: "Chris Smith",
  homepageLink: "/",
  signOutLink: "/titan-mvp-1.2/onboarding/sign-out-confirmation",
  navigationItems: [
    {
      href: "/titan-mvp-1.2/library",
      text: "Forms library",
      id: "nav-library"
    },
    {
      href: "/titan-mvp-1.2/form-overview/{{ form.id }}",
      text: "Overview",
      id: "nav-overview",
      active: true
    },
    {
      href: "/titan-mvp-1.2/form-overview/poc",
      text: "Responses",
      id: "nav-submissions"
    },
    {
      href: "/titan-mvp-1.2/form-editor/listing",
      text: "Editor",
      id: "nav-editor"
    }
  ],
  activeLinkId: ""
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <h1 class="x-govuk-masthead__title">
          The link does not work
        </h1>
        <p class="x-govuk-masthead__description">
          For security reasons, links expire after 90 days.
        </p>
        <p class="x-govuk-masthead__description">
          Sign in to download the files again or request them from the person who submitted the form.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
{{ pageName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    </div>
  </div>
{% endblock %}
