{% extends "govuk/template.njk" %}

{% block head %}
  <link rel="stylesheet" href="/stylesheets/app.min.css">

  {% block styles %}{% endblock %}
{% endblock %}

{% block bodyStart %}
  {% block banner %}
    {# {% include "../partials/banner.njk" %}
    {% include "../partials/feature-flags.njk" %} #}
  {% endblock %}
{% endblock %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing' %}

{% block bodyEnd %}
  <script type="module" src="/javascripts/govuk-frontend.min.js"></script>
  <script type="module" src="/javascripts/moj-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/javascripts/govuk-frontend.min.js'
    import * as MOJFrontend from '/javascripts/moj-frontend.min.js'
    initAll()
    MOJFrontend.initAll()
  </script>
  <script type="module" src="/javascripts/lottie-loader.js"></script>
{% endblock %}